.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 100%;
  font-family: "Courier New", Courier, monospace;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5%;
}

.logo {
  width: 24%;
  overflow: cut;
  min-width: 180px;
  max-width: 200px;
}

.logo img {
  width: 104%;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 16px;
  width: 80%;
  height: 100%;
  margin: 0.1%;
  background-color: #6bcadd;
  border: 2px solid #313131;
  border-radius: 8px;
  color: #313131;
  font-weight: bold;
}

.input:focus {
  outline: none;
  border: 2px solid #313131;
}

.input:active {
  border: 2px solid #313131;
}

.input::placeholder {
  color: #313131;
  font-weight: bold;
}

.button {
  appearance: button;
  background-color: #469dd3;
  background-image: none;
  border: 1px solid #313131;
  border-radius: 4px;
  box-shadow: #226d95 4px 4px 0 0, #313131 4px 4px 0 1px;
  box-sizing: border-box;
  color: #313131;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  overflow: visible;
  padding: 4px 12px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 18%;
}

.button:focus {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: #28aafd 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: #313131 2px 2px 0 0, #28aafd 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.search {
  display: flex;
  width: 72%;
  min-width: 320px;
  margin: 0.5%;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .button {
    width: 20%;
    font-size: 14px;
    padding: 2px 16px;
  }
  .container {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .search {
    width: 90%;
  }
  .input {
    width: 70%;
    font-size: 14px;
  }
}
